.intervals {
    .interval {
        display: inline-block;
    }
    .row-1 {
        .interval {
            width: 3rem;
            font-size: 0.8rem;
        }
    }
    .row-2 {
        margin-left: 3rem;
        .interval {
            width: 6rem;
            font-size: 1.1rem;
        }
    }

}