.note-labels {
    margin: .5rem 0;
    .note-label {
        width: 3rem;
        display: inline-block;
        text-align: center;
        &.inactive {
            color: #ddd;
        }
    }
    label:first-child {
        width: 6rem;
        display: inline-block;

    }

}