.notes {
    label {
        width: 6rem;
        display: inline-block;
    }
}    
.note {
    display: inline-block;
    padding: .5rem;
    background: #fff;
    color: #333;
    border-radius: .3rem;
    width: 3rem;
    height: 3rem;
    transition: all 0.2s ease;
    transform: scale(1,1);
    box-shadow: 0 0 2px 2px rgba(0,0,0,0);
    &.playing {
        box-shadow: 0 .2rem .1rem 0 rgba(0,0,0,0.2);
        transform: scale(1.2,1.2);
    }
    &.root {
        background: rgba(255,0,0,0.1);
    }
    &.second {
        background: rgba(200,100,0,0.1);
    }
    &.third {
        background: rgba(100,200,0,0.1);
    }
    &.fourth {
        background: rgba(0,200,100,0.1);
    }
    &.fifth {
        background: rgba(0,100,200,0.1);
    }
    &.sixth {
        background: rgba(0,0,255,0.1);
    }
    &.seventh {
        background: rgba(255,0,255,0.1);
    }
    &:disabled {
        background: #fff;
        color: #ddd;
    }
  
}

.c,
.d,
.e,
.g,
.a {
    margin-right: 1rem;
}