.options {
    text-align: left;
    .option-container {
        display: none;
        margin-left: 1rem;
        &.active {
            display: flex;
            justify-content: space-between;
        }
    }
}