table {
    background: #ddd;
    
    th {
        color: #666;
        font-weight: lighter;
        border: 1px solid #fff;
        border-collapse: collapse;

    }
    td {
        text-align: center;
        width: 2rem;
        border: 1px solid #fff;
        border-collapse: collapse;

    }
}